@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --accent: #6366f1; /* indigo-500 */
}

.accent {
  color: var(--accent);
}

/* Global dark theme */
html,
body,
#root {
  height: 100%;
  background-color: #0f0f0f;
  color: #e5e7eb; /* Tailwind gray-200 */
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont;
}
